.container {
  border: 1px; 
  border-color: black; 
}

.form {
  display: flex; 
  flex-direction: column;
  width: 200px; 
  height: 200px;
}

.submitButton {
  margin-top: 15%;
  background-color: gray;
  color: white;
}