.mainContainer {
  display: flex; 
  flex-direction: column;
}

.videoPlayer {
  float: left;
  width: 640px;
}

.videoSidebar {
  float: left;
  margin-left: 50px;
  width: 400px;
}

.unitTitle {
  font-weight: 700;
}

.unitSection ul {
  padding: 0px;
  list-style-type: none;
}

.unitSection ul li {
  text-decoration: none;
  padding: 20px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-bottom:5px;
}

.unitSection ul li:hover, .selectedLesson {
  color: #fff;
  cursor: pointer;
  background-color: #3F92AB;
}

.lessonIcon {
  margin-right: 10px;
}